.imagen1 {
  margin-top: -310px;
  margin-left: -45px;
}
.btn-primary {
  background-color: #2ab7ca;
  border-radius: 0;
  border: 0;
  width: 100px;
  height: 35px;
}

.btn-primary1 {
  border-radius: 0;
  border: 0;
  width: 30px;
  height: 35px;
}

.btn1 {
  width: 100px;
  align-content: flex-end;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}


.flex-container-hijo h4, .flex-container-hijo p {
  margin: auto;
  padding: auto;
  margin-left: 20px;
}

h4 {
  font-size: 25px;
  font-family: $tipo1;
  font-weight: 700;
  margin-bottom: 15px;
}


.flex-container-hijo {
  width: 350px;
}

.containerfooter {
  text-align: left;
  align-content: center;
  color: #fff;
}

.nav-link {
  margin-top: 35px;
}

.btn {
  width: 200px;
}

.posicionfondo {
  position: absolute;
}

.anchocupon {
  width: 50%;
  align-content: center;
  padding: 20px;
  margin: auto;
  border: 20px;

}

.subir {
  margin-top: -850px;
  align-content: left;
}
.margenpre {
  margin-left: 600px;
}
