.slidein {
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 1;

}

@keyframes slidein {
  from {
    margin-left:10%;
    width:50%
  }

  to {
   margin-left:0%;
   width:50%;
 }
}

.grafico {
  width: 100px;
  height: 100px;
  background: red;
  transition-property: width;
  transition-duration: 2s;
}

.grafico:hover {
  width: 300px;
}
