$tipo1: 'Raleway', sans-serif;
$tipo2: 'Open Sans', sans-serif;
$colorgris: #e3e2e1;
$colorletrasmenu: #000000;
$colorblanco: #fff;
$colorbotones: #2ab7ca;
$colorfooter: #221d23;
$colornegro: #000000;
